<h2> <%= @band.name %> </h2>

<% @band.albums.each do |album| %>
  <h3><%= album.name %></h3>
  <ul>
    <% album.tracks.each do |track| %>
      <li>
        <%= track.song %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "edit band", edit_band_url(@band) %>
