<h1>Login User</h1>

<form action="<%= sessions_url %>" method="post">
  <%= auth_token %>
  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]" placeholder="email">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]" placeholder="password">

  <input type="submit">
</form>
